@import "./helpers/variables";

// General styles
h2, h4, p {
  display: inline;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

html {
  font-size: 14px;
}

body {
  background-color: $bodyBGColor;
}

.offset {
  position: relative;
  top: $headerHeight;
}

// Imports
@import "./layout/header";
@import "./layout/disclaimer";
@import "./layout/aboutMe";
@import "./layout/skills";
@import "./layout/portfolio";
@import "./layout/footer";
