@import "../helpers/variables";
@import "../helpers/mixins";
@import "placeholders";

/* Footer styles */
.footer {
  height: $footerHeight;
  width: 100%;
  background-color: $headerBGColor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: $headerFontColor;

  @include element('icon') {
    margin: 0 2rem;
    color: $headerFontColor;
    transition: all 0.4s;

    &:hover {
      transform:scale(1.2);
    }
  }
}
