@import "../helpers/variables";
@import "../helpers/mixins";
@import "placeholders";

/* Header styles */
.header {
  height: $headerHeight;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $headerBGColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  @media only screen and (max-width: 1040px) {
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
  }

  // @include element('sitecontainer') {
  //   @extend %sitecontainer;
  //   height: 100%;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   align-items: center;
  // }

  // @include element('company') {
  //   height: 100%;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // }
  //
  // @include element('companyLogo') {
  //   height: $headerHeight * 0.75;
  //   width: auto;
  // }

  @include element('companyName') {
    color: $headerFontColor;
    font : {
      family: 'Press Start 2P', ;
      size: 2rem;
    }
    margin-left: 2rem;

    @media only screen and (max-width: 1040px) {
      margin: 0;
    }
  }

  @include element('navbar') {
    height: 100%;
    width: auto;

    @media only screen and (max-width: 1040px) {
      height: auto;
    }
  }

  @include element('navItem') {
    display: inline-block;
    vertical-align: bottom;
    font: {
      family: 'Press Start 2P', cursive;
      size: 1rem;
    }

    @include modifier('last') {
      margin-right: 2rem;
      @media only screen and (max-width: 1040px) {
        margin: 0;
      }
    }
  }

  @include element('navLink') {
    display: block;
    text-decoration: none;
    padding: ($headerHeight - $headerLinkFontSize)/2 1rem;
    color: $headerFontColor;
    font-weight: bold;
    transition: background-color 0.4s;

    @media only screen and (max-width: 1040px) {
      padding: 0.5rem;
    }

      &:hover {
        background-color: $hoverBGColor;
      }
  }
}
