html {
  font-size: 14px; }

body {
  background-color: #ebe3e2; }

.offset {
  position: relative;
  top: 6rem; }

/* General style for site container */
.disclaimer__siteContainer, .aboutMe__siteContainer, .skills__siteContainer, .portfolio__siteContainer {
  box-sizing: border-box;
  width: 960px;
  margin: 1rem auto;
  display: flex; }
  @media only screen and (max-width: 1040px) {
    .disclaimer__siteContainer, .aboutMe__siteContainer, .skills__siteContainer, .portfolio__siteContainer {
      width: 100%;
      padding: 0 2rem; } }

/* Hash-link header offset for site sections */
.disclaimer::before, .aboutMe::before, .skills:before, .portfolio::before {
  display: block;
  content: "";
  height: 6rem;
  margin-top: -6rem; }

/* General style for portfolio informational dropdown */
.portfolio__siteDetails {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
  background-color: rgba(235, 227, 226, 0.85); }

/* General style for portfolio item */
.portfolio__portfolioItem {
  height: auto;
  display: flex;
  flex-basis: 30%;
  flex-grow: 1;
  max-width: 50%;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }

/* Header styles */
.header {
  height: 6rem;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #46566d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; }
  @media only screen and (max-width: 1040px) {
    .header {
      flex-direction: column;
      justify-content: center;
      align-items: space-around; } }
  .header__companyName {
    color: #ebe3e2;
    font-family: "Press Start 2P";
    font-size: 2rem;
    margin-left: 2rem; }
    @media only screen and (max-width: 1040px) {
      .header__companyName {
        margin: 0; } }
  .header__navbar {
    height: 100%;
    width: auto; }
    @media only screen and (max-width: 1040px) {
      .header__navbar {
        height: auto; } }
  .header__navItem {
    display: inline-block;
    vertical-align: bottom;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem; }
    .header__navItem--last {
      margin-right: 2rem; }
      @media only screen and (max-width: 1040px) {
        .header__navItem--last {
          margin: 0; } }
  .header__navLink {
    display: block;
    text-decoration: none;
    padding: 2.5rem 1rem;
    color: #ebe3e2;
    font-weight: bold;
    transition: background-color 0.4s; }
    @media only screen and (max-width: 1040px) {
      .header__navLink {
        padding: 0.5rem; } }
    .header__navLink:hover {
      background-color: rgba(235, 227, 226, 0.25); }

/* General style for site container */
.disclaimer__siteContainer, .aboutMe__siteContainer, .skills__siteContainer, .portfolio__siteContainer {
  box-sizing: border-box;
  width: 960px;
  margin: 1rem auto;
  display: flex; }
  @media only screen and (max-width: 1040px) {
    .disclaimer__siteContainer, .aboutMe__siteContainer, .skills__siteContainer, .portfolio__siteContainer {
      width: 100%;
      padding: 0 2rem; } }

/* Hash-link header offset for site sections */
.disclaimer::before, .aboutMe::before, .skills:before, .portfolio::before {
  display: block;
  content: "";
  height: 6rem;
  margin-top: -6rem; }

/* General style for portfolio informational dropdown */
.portfolio__siteDetails {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
  background-color: rgba(235, 227, 226, 0.85); }

/* General style for portfolio item */
.portfolio__portfolioItem {
  height: auto;
  display: flex;
  flex-basis: 30%;
  flex-grow: 1;
  max-width: 50%;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }

.disclaimer__siteContainer {
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
.disclaimer__title {
  color: #a44c28;
  font-family: 'Bungee', cursive;
  font-size: 2rem;
  margin: 1rem 0; }
.disclaimer__subTitle {
  color: #a44c28;
  font-family: 'Bungee', cursive;
  font-size: 1rem; }
.disclaimer__paragraph {
  color: #353538;
  font-family: 'Rhodium Libre', serif;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
  margin-top: 1rem; }

/* General style for site container */
.disclaimer__siteContainer, .aboutMe__siteContainer, .skills__siteContainer, .portfolio__siteContainer {
  box-sizing: border-box;
  width: 960px;
  margin: 1rem auto;
  display: flex; }
  @media only screen and (max-width: 1040px) {
    .disclaimer__siteContainer, .aboutMe__siteContainer, .skills__siteContainer, .portfolio__siteContainer {
      width: 100%;
      padding: 0 2rem; } }

/* Hash-link header offset for site sections */
.disclaimer::before, .aboutMe::before, .skills:before, .portfolio::before {
  display: block;
  content: "";
  height: 6rem;
  margin-top: -6rem; }

/* General style for portfolio informational dropdown */
.portfolio__siteDetails {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
  background-color: rgba(235, 227, 226, 0.85); }

/* General style for portfolio item */
.portfolio__portfolioItem {
  height: auto;
  display: flex;
  flex-basis: 30%;
  flex-grow: 1;
  max-width: 50%;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }

.aboutMe__siteContainer {
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
.aboutMe__title {
  color: #a44c28;
  font-family: 'Bungee', cursive;
  font-size: 2rem;
  margin: 1rem 0; }
.aboutMe__paragraph {
  color: #353538;
  font-family: 'Rhodium Libre', serif;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
  margin-top: 1rem; }

/* General style for site container */
.disclaimer__siteContainer, .aboutMe__siteContainer, .skills__siteContainer, .portfolio__siteContainer {
  box-sizing: border-box;
  width: 960px;
  margin: 1rem auto;
  display: flex; }
  @media only screen and (max-width: 1040px) {
    .disclaimer__siteContainer, .aboutMe__siteContainer, .skills__siteContainer, .portfolio__siteContainer {
      width: 100%;
      padding: 0 2rem; } }

/* Hash-link header offset for site sections */
.disclaimer::before, .aboutMe::before, .skills:before, .portfolio::before {
  display: block;
  content: "";
  height: 6rem;
  margin-top: -6rem; }

/* General style for portfolio informational dropdown */
.portfolio__siteDetails {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
  background-color: rgba(235, 227, 226, 0.85); }

/* General style for portfolio item */
.portfolio__portfolioItem {
  height: auto;
  display: flex;
  flex-basis: 30%;
  flex-grow: 1;
  max-width: 50%;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }

/* Sills Styles */
.skills__siteContainer {
  flex-direction: column;
  justify-content: space-between; }
.skills__title {
  color: #a44c28;
  font-family: 'Bungee', cursive;
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center; }
.skills__subTitle {
  color: #a44c28;
  font-family: 'Bungee', cursive;
  font-size: 1rem;
  text-align: center; }
  .skills__subTitle--marginBottom {
    margin-bottom: 2rem; }
.skills__paragraph {
  color: #353538;
  font-family: 'Rhodium Libre', serif;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
  margin-top: 1rem; }
.skills__skillsDisplay {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden; }
.skills__skillsList {
  width: 30%;
  height: auto;
  border: 2px solid #46566d;
  border-radius: 0.25rem;
  z-index: 2; }
.skills__skill {
  width: 100%;
  display: block;
  text-align: center;
  cursor: default;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
  color: #46566d;
  padding: 1rem 0;
  transition: all 0.4s;
  z-index: 3; }
  .skills__skill:hover {
    text-decoration: underline; }
.skills__skillsDetails {
  width: 65%;
  height: auto;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0 0 0 auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 100%; }
  .skills__skillsDetails--visible {
    display: flex; }
.skills__detailTitle {
  color: #a44c28;
  font-family: 'Bungee', cursive;
  font-size: 1rem;
  margin-bottom: 1.5rem; }
  .skills__detailTitle--last {
    margin-bottom: 0; }
.skills__detailText {
  color: #353538;
  font-family: 'Rhodium Libre', serif;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5; }

/* General style for site container */
.disclaimer__siteContainer, .aboutMe__siteContainer, .skills__siteContainer, .portfolio__siteContainer {
  box-sizing: border-box;
  width: 960px;
  margin: 1rem auto;
  display: flex; }
  @media only screen and (max-width: 1040px) {
    .disclaimer__siteContainer, .aboutMe__siteContainer, .skills__siteContainer, .portfolio__siteContainer {
      width: 100%;
      padding: 0 2rem; } }

/* Hash-link header offset for site sections */
.disclaimer::before, .aboutMe::before, .skills:before, .portfolio::before {
  display: block;
  content: "";
  height: 6rem;
  margin-top: -6rem; }

/* General style for portfolio informational dropdown */
.portfolio__siteDetails {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
  background-color: rgba(235, 227, 226, 0.85); }

/* General style for portfolio item */
.portfolio__portfolioItem {
  height: auto;
  display: flex;
  flex-basis: 30%;
  flex-grow: 1;
  max-width: 50%;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }

/* Portfolio Styles */
.portfolio__siteContainer {
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
.portfolio__title {
  color: #a44c28;
  font-family: 'Bungee', cursive;
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center; }
.portfolio__paragraph {
  color: #353538;
  font-family: 'Rhodium Libre', serif;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5; }
.portfolio__row {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
.portfolio__imgContainer {
  position: relative; }
  .portfolio__imgContainer:hover .portfolio__siteDetails {
    bottom: 0;
    height: 100%; }
.portfolio__siteImg {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.25rem; }
.portfolio__detailText {
  color: #353538;
  font-family: 'Rhodium Libre', serif;
  font-size: 0.75rem;
  text-align: justify;
  line-height: 1.5; }
.portfolio__siteName {
  color: #a44c28;
  font-family: 'Bungee', cursive;
  font-size: 1rem;
  margin: 0.5rem 0 1rem 0; }
.portfolio__detailLink {
  color: #a44c28;
  font-family: 'Bungee', cursive;
  font-size: 0.75rem;
  display: inline;
  margin-top: 0.5rem; }

/* General style for site container */
.disclaimer__siteContainer, .aboutMe__siteContainer, .skills__siteContainer, .portfolio__siteContainer {
  box-sizing: border-box;
  width: 960px;
  margin: 1rem auto;
  display: flex; }
  @media only screen and (max-width: 1040px) {
    .disclaimer__siteContainer, .aboutMe__siteContainer, .skills__siteContainer, .portfolio__siteContainer {
      width: 100%;
      padding: 0 2rem; } }

/* Hash-link header offset for site sections */
.disclaimer::before, .aboutMe::before, .skills:before, .portfolio::before {
  display: block;
  content: "";
  height: 6rem;
  margin-top: -6rem; }

/* General style for portfolio informational dropdown */
.portfolio__siteDetails {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
  background-color: rgba(235, 227, 226, 0.85); }

/* General style for portfolio item */
.portfolio__portfolioItem {
  height: auto;
  display: flex;
  flex-basis: 30%;
  flex-grow: 1;
  max-width: 50%;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }

/* Footer styles */
.footer {
  height: 6rem;
  width: 100%;
  background-color: #46566d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #ebe3e2; }
  .footer__icon {
    margin: 0 2rem;
    color: #ebe3e2;
    transition: font-size 0.4s; }
    .footer__icon:hover {
      font-size: 3.5rem; }

/*# sourceMappingURL=main.css.map */
