//hat green: rgb(67, 85, 35), rgb(89, 101, 38)
//hat blue: rgb(70, 86, 109), rgb(89, 94, 128)
//hat gray: rgb(53, 53, 56),
//hat white: rgb(187, 175, 156), rgb(235, 227, 226)
//hat orange: rgb(164, 76, 40),

$headerHeight: 6rem;
$headerLinkFontSize: 1rem;
$headerFontColor: rgb(235, 227, 226);
$headerBGColor: rgb(70, 86, 109);
$bodyBGColor: rgb(235, 227, 226);
$siteInfoColor: rgba(235, 227, 226, 0.85);
$titleFontColor: rgb(164, 76, 40);
$subTitleFontColor: rgb(89, 101, 38);
$bodyFontColor: rgb(53, 53, 56);
$hoverBGColor: rgba(235, 227, 226, 0.25);
$footerHeight: 6rem;
